# support insmod xx.ko; setprop xx xx; modeprobe
insmod /vendor/lib/modules/adv7511.ko
insmod /vendor/lib/modules/imx95-pixel-interleaver.ko
insmod /vendor/lib/modules/imx95-mipi-dsi.ko
insmod /vendor/lib/modules/imx95-dpu-drm.ko
