# support insmod xx.ko; setprop xx xx; modprobe
insmod /vendor/lib/modules/gpio-adp5585.ko
insmod /vendor/lib/modules/adp5585.ko
insmod /vendor/lib/modules/pwm-adp5585.ko
insmod /vendor/lib/modules/imx95-blk-ctrl.ko
insmod /vendor/lib/modules/phy-fsl-imx9-dphy-rx.ko
insmod /vendor/lib/modules/dw-mipi-dsi.ko
insmod /vendor/lib/modules/imx8-isi.ko
insmod /vendor/lib/modules/imx-csi-formatter.ko
insmod /vendor/lib/modules/dwc-mipi-csi2.ko
insmod /vendor/lib/modules/ap130x.ko

insmod /vendor/lib/modules/adv7511.ko
insmod /vendor/lib/modules/lontium-lt8912b.ko
insmod /vendor/lib/modules/imx95-pixel-interleaver.ko
insmod /vendor/lib/modules/imx95-mipi-dsi.ko
insmod /vendor/lib/modules/imx95-dpu-drm.ko
