# create /dev/dri folder for display detection in display service
on init
    mkdir /dev/dri
    chmod 755 /dev/dri

# display drivers load service
service display_init_sh /vendor/bin/init.insmod.sh /vendor/etc/display.init.cfg
    class main
    user root
    group root system
    disabled
    oneshot

# start display driver load service
on property:vendor.vehicle.register=1
    stop evs_driver
    stop vendor.camera-provider-2-7-google
    start display_init_sh

# restart camera provider
on property:sys.boot_completed=1 && property:vendor.vehicle.register=1
    start vendor.camera-provider-2-7-google
    start evs_driver

# register android
on property:service.sf.present_timestamp=1
    # register the vehicle_rpmsg_m7 on raw android.
    write /sys/devices/platform/vehicle_rpmsg_m7/register 1
    # register the vehicle_rpmsg_m7 on android running in xen.
    write /sys/devices/platform/passthrough/passthrough\:vehicle_rpmsg_m7/register 1
