# support insmod xx.ko; setprop xx xx; modeprobe
insmod /vendor/lib/modules/gmsl-max9286.ko
insmod /vendor/lib/modules/imx8-mipi-csi2.ko
insmod /vendor/lib/modules/imx8-parallel-csi.ko
insmod /vendor/lib/modules/imx8-isi-hw.ko
insmod /vendor/lib/modules/imx8-isi-capture.ko
insmod /vendor/lib/modules/imx8-isi-mem2mem.ko
insmod /vendor/lib/modules/imx8-capture.ko
insmod /vendor/lib/modules/imx8-media-dev.ko
