# support insmod xx.ko; setprop xx xx; modeprobe
insmod /vendor/lib/modules/max9271.ko
insmod /vendor/lib/modules/max9286.ko
insmod /vendor/lib/modules/rdacm20.ko
insmod /vendor/lib/modules/imx8-isi.ko
insmod /vendor/lib/modules/imx8mq-mipi-csi2.ko
